body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6cdf71;
    color: #bac5ba;
    background-image: url(../images/brazil.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    background-color: #4a7ae2;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 2rem;
    text-align: center;
}

.flashcard-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.flashcard {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    width: 150px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.flashcard img {
    max-width: 100%;
    height: auto;
}

button {
    background-color: #FFD700;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #E6C200;
}

footer {
    background-color: #4A90E2;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 20px;
}
